.git
.github
.venv

__pycache__
*.py[cod]
*.egg-info

.pytest_cache
.ruff_cache
.mypy_cache

build
dist

.env
.env.*

data/raw

mlflow.db
mlruns
.artifacts

observability
tests

frontend

docker-compose.yml